<div [hidden]="!loading">Loading...</div>
<input type="text" #currentuser><button class="btn btn-primary" (click)="addUser(currentuser)">Add</button>
<table class="table">
    <tr *ng-for="#user of getAll()">
        <td>
            <a [router-link]="['/user_details', { 'username': user.username }]">
                <img [src]="user.avatarUrl" width="50">
            </a>
        </td>
        <td>{{user.username}}</td>
        <td>{{user.name}}</td>
        <td><button class="btn btn-danger" (click)="remove(user)">Remove</button></td>
    </tr>
</table>
